@config "./tailwindcss.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
    @apply flex items-center justify-center;
}

.flex-col-center {
    @apply flex flex-col items-center justify-center;
}

.flex-between {
    @apply flex flex-row items-center justify-between;
}

.responsive-flex {
    @apply flex flex-col gap-10 items-center justify-center md:flex-row md:justify-between;
}

.text-dark{ 
    @apply text-[#295D4E]
}

.bg-green{
    @apply bg-[#295D4E];
}


.bg-light-green {
    @apply bg-[#295D4E] bg-opacity-10;
}

.border-green {
    @apply border border-[#295D4E] ;
}


.border-gray {
    @apply border border-[#f2f2f2];
}

.dark-gradient{
    background: linear-gradient(89.8deg, rgba(255, 255, 255, 0) 7.11%, rgba(255, 255, 255, 0.185) 117.23%);
}

.gray-gradient{ 
    background: #f9f9f9;
    background: -moz-linear-gradient(157.25deg, #252525 3.62%, #101010 88.02%);
    background: -webkit-linear-gradient(157.25deg, #252525 3.62%,#101010 88.02%);
    background: linear-gradient(157.25deg, #252525 3.62%, #101010 88.02%);

}

/* absolute */
.absolute-v-middle{ 
    @apply absolute top-[50%] bottom-[50%] translate-y-[-50%];
}
.absolute-h-middle{ 
    @apply absolute left-[50%] right-[50%] translate-x-[-50%];
}


/* card */
.card{ 
    @apply flex flex-col gap-5 border-[0.5px] rounded-xl px-8 py-5;
}


.card-features{
    @apply flex flex-col gap-5;
}

.card-features .feature{
    @apply flex gap-2 items-center;
}

.card-header{
    @apply flex flex-col gap-3;
}


/*  */
/* .dot::after{
    content: '.';
    position: absolute;
    top: 0; 
    right: 0;
    font-size: large;
    z-index: 10;
} */