<div
  class="FMT__container__contents"
  style="
    display: flex;
    width: max-content;
    margin-left: -4992px;
    transform: translateX(-1018.17px) translateZ(0px);
  "
>
  <div style="display: flex">
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Allen Taylor"
        loading="lazy"
        width="612"
        height="612"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        style="color: transparent"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fallen_taylor.95c6afed.jpg&amp;w=3840&amp;q=75"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Allen Taylor
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Web3 Academy"
        loading="lazy"
        width="1200"
        height="1200"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        style="color: transparent"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fw3a.20ab279a.jpg&amp;w=3840&amp;q=75"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Web3 Academy
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Farquest"
        loading="lazy"
        width="1280"
        height="1280"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        style="color: transparent"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ffarquest.5163ea5b.jpg&amp;w=3840&amp;q=75"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Farquest
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="The Bigger Picture"
        loading="lazy"
        width="4000"
        height="4000"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        style="color: transparent"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ftbp.e2ed7c88.jpg&amp;w=3840&amp;q=75"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        The Bigger Picture
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Ex Machina"
        loading="lazy"
        width="1084"
        height="1084"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        style="color: transparent"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fexmachina.c4fce771.jpg&amp;w=3840&amp;q=75"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Ex Machina
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Chris Co-Created"
        loading="lazy"
        width="3200"
        height="3200"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        style="color: transparent"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fchris.5add7d0a.jpg&amp;w=3840&amp;q=75"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Chris Co-Created
      </div>
    </div>

    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Ex Machina"
        loading="lazy"
        width="1084"
        height="1084"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fexmachina.c4fce771.jpg&amp;w=3840&amp;q=75"
        style="color: transparent"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Ex Machina
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Chris Co-Created"
        loading="lazy"
        width="3200"
        height="3200"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fchris.5add7d0a.jpg&amp;w=3840&amp;q=75"
        style="color: transparent"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Chris Co-Created
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Pop 5"
        loading="lazy"
        width="308"
        height="308"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpop.858504b7.jpg&amp;w=3840&amp;q=75"
        style="color: transparent"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Pop 5
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Danica Swanson"
        loading="lazy"
        width="1227"
        height="1280"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdanica.bb43c069.jpg&amp;w=3840&amp;q=75"
        style="color: transparent"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Danica Swanson
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Tokenpad"
        loading="lazy"
        width="334"
        height="334"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ftokenpad.234b33ce.jpg&amp;w=3840&amp;q=75"
        style="color: transparent"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Tokenpad
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Outcasters"
        loading="lazy"
        width="1402"
        height="1402"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Foutcaster.89f33797.jpg&amp;w=3840&amp;q=75"
        style="color: transparent"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Outcasters
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="On-Chain Poetry Digest"
        loading="lazy"
        width="440"
        height="440"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpoetry.a24385a5.jpg&amp;w=3840&amp;q=75"
        style="color: transparent"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        On-Chain Poetry Digest
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Dave Swinbank"
        loading="lazy"
        width="727"
        height="719"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdave.68ac8320.jpg&amp;w=3840&amp;q=75"
        style="color: transparent"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Dave Swinbank
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="The Rug News"
        loading="lazy"
        width="400"
        height="400"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frug.2d57dc2e.jpg&amp;w=3840&amp;q=75"
        style="color: transparent"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        The Rug News
      </div>
    </div>

    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Dave Swinbank"
        loading="lazy"
        width="727"
        height="719"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        style="color: transparent"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdave.68ac8320.jpg&amp;w=3840&amp;q=75"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Dave Swinbank
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="The Rug News"
        loading="lazy"
        width="400"
        height="400"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        style="color: transparent"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frug.2d57dc2e.jpg&amp;w=3840&amp;q=75"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        The Rug News
      </div>
    </div>
  </div>
  <div style="display: flex">
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Allen Taylor"
        loading="lazy"
        width="612"
        height="612"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        style="color: transparent"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fallen_taylor.95c6afed.jpg&amp;w=3840&amp;q=75"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Allen Taylor
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Web3 Academy"
        loading="lazy"
        width="1200"
        height="1200"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        style="color: transparent"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fw3a.20ab279a.jpg&amp;w=3840&amp;q=75"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Web3 Academy
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Farquest"
        loading="lazy"
        width="1280"
        height="1280"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        style="color: transparent"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ffarquest.5163ea5b.jpg&amp;w=3840&amp;q=75"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Farquest
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="The Bigger Picture"
        loading="lazy"
        width="4000"
        height="4000"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        style="color: transparent"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ftbp.e2ed7c88.jpg&amp;w=3840&amp;q=75"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        The Bigger Picture
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Ex Machina"
        loading="lazy"
        width="1084"
        height="1084"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        style="color: transparent"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fexmachina.c4fce771.jpg&amp;w=3840&amp;q=75"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Ex Machina
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Chris Co-Created"
        loading="lazy"
        width="3200"
        height="3200"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        style="color: transparent"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fchris.5add7d0a.jpg&amp;w=3840&amp;q=75"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Chris Co-Created
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Pop 5"
        loading="lazy"
        width="308"
        height="308"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        style="color: transparent"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpop.858504b7.jpg&amp;w=3840&amp;q=75"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Pop 5
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Danica Swanson"
        loading="lazy"
        width="1227"
        height="1280"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        style="color: transparent"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdanica.bb43c069.jpg&amp;w=3840&amp;q=75"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Danica Swanson
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="Tokenpad"
        loading="lazy"
        width="334"
        height="334"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        style="color: transparent"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ftokenpad.234b33ce.jpg&amp;w=3840&amp;q=75"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        Tokenpad
      </div>
    </div>
    <div
      class="group flex flex-col justify-center text-center py-4 relative hover:cursor-pointer"
    >
      <img
        alt="The Rug News"
        loading="lazy"
        width="400"
        height="400"
        decoding="async"
        data-nimg="1"
        class="w-48 px-4 group-hover:blur-sm group-hover:opacity-20 transition-all cursor-pointer"
        sizes="160px"
        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frug.2d57dc2e.jpg&amp;w=3840&amp;q=75"
        style="color: transparent"
      />
      <div
        class="group-hover:block hidden text-slate-800 text-xl font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:cursor-pointer"
      >
        The Rug News
      </div>
    </div>
  </div>
</div>
